spring:
  jpa.hibernate.ddl-auto: create
  datasource:
    url: jdbc:mysql://localhost:3306/reaktor_issuesserver?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
server:
  port: 8085
logging:
    level:
        root: INFO
    file:
        name: /tmp/reaktor_issuesServer.log
        max-size: 1MB
        max-history: 10
        total-size-cap: 10MB

reaktor:
  publicKeyFile: ${PUBLIC_KEY_FILE}
  urlCors: https://somos.iesjandula.es
  firebase_server_url: https://api.iesjandula.es/
  notifications_server_url: https://api.iesjandula.es/
  clientId: ${CLIENT_ID}
  http_connection_timeout: 30000
  gmail:
    appName: ${GMAIL_APP_NAME}
    from: ${GMAIL_EMAIL_FROM}
    oauthCredentialsFile: ${GMAIL_OAUTH_CREDENTIALS_FILE}
    oauthRedirectUri: https://api.iesjandula.es/notifications/gmail/oauth2callback